{% extends "rango/base.html" %}

{% block title %}Index{% endblock %}
  
{% block body_block %}
    {% if user.is_authenticated %}
    <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
    <h1>Rango says... hello world!</h1>
    {% endif %}    

    <h2>Categories</h2>
    {% if categories %}
      <ul>
        {% for category in categories %}
          <!-- Following line changed to add an HTML hyperlink -->
          <li><a href="/rango/category/{{ category.url }}/"> {{ category.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
    
    <h2>Pages</h2>
    {% if pages %}
      <ul>
        {# We haven't added CSS styling yet. Using HTML span to add a bit of flair #}
        {% for page in pages %}
          <li>{{ page.title }} - <a href="{{ page.url }}">{{ page.url }}</a> - likes: <span style='color:gold;'>&starf;</span> {{ page.views }} </li>
        {% endfor %}
      </ul>
    {% else %}
      <p> No pages with views</p>
    {% endif %}
{% endblock %}
